<<<<<<< HEAD

/* Certificate.css */
.certificate {
  width: 700px;
  height: 500px;
  border: 2px solid #000 ;
  padding: 20px;
  padding-top: 80px;
  font-family: 'Arial', sans-serif;
  text-align: center;
  background-image: url("./../assets/certificate-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.certificateDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
h1 {
  color: #000080;
  font-size: 30px !important;
  font-family: fantasy;
}
hr{
    border: 1px solid #3260c4;
    
}
.ribbon{
    position: absolute;
    width: 400px;
    height: 150px;
    top: 140px;
}

h2 {
  font-size: 16px;
  color: #333;
}

.name {
    margin-top: 50px;
  font-size: 24px;
  font-weight: bold;
  font-family: cursive;
}

.signatures {
  display: flex;
  justify-content: space-between;
  /* margin-top: 20px; */
  font-size: 15px;
}
.signatures >div{
  margin: 5px 15px
}
.btnDiv{
  display: flex;
  justify-content: center;
}
.btn{
    background-color: #000080;
    width: 100px;
    height: 50px;
    color: aliceblue;
    margin: 10px;
}
=======

/* Certificate.css */
.certificate {
  width: 700px;
  height: 500px;
  border: 2px solid #000 ;
  padding: 20px;
  padding-top: 80px;
  font-family: 'Arial', sans-serif;
  text-align: center;
  background-image: url("./../assets/certificate-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.certificateDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
h1 {
  color: #000080;
  font-size: 30px !important;
  font-family: fantasy;
}
hr{
    border: 1px solid #3260c4;
    
}
.ribbon{
    position: absolute;
    width: 400px;
    height: 150px;
    top: 140px;
}

h2 {
  font-size: 16px;
  color: #333;
}

.name {
    margin-top: 50px;
  font-size: 24px;
  font-weight: bold;
  font-family: cursive;
}

.signatures {
  display: flex;
  justify-content: space-between;
  /* margin-top: 20px; */
  font-size: 15px;
}
.signatures >div{
  margin: 5px 15px
}
.btnDiv{
  display: flex;
  justify-content: center;
}
.btn{
    background-color: #000080;
    width: 100px;
    height: 50px;
    color: aliceblue;
    margin: 10px;
}
>>>>>>> 8f30ee90b351a4d5d388d83cef02cc77953d738d
